.optsi {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  height: 10vh;
}

.screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px;
  background-image: url("../public/bg_nudfar.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.debugging {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body{
    background-color:#28643b;
}
button{
    background-color: #e94d32;
    color: #ffeed1;
    border-color: #e94d32;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px;
    text-align: center;
}

.benvo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

